.task-completed, .task-pending {
  font-weight: bold;
}

.title {
  margin-top: 15px;
  text-decoration: underline;
}
.action-line {
  margin-top: 5px;
  .buttons-container {
    text-align: right;
  }
}

.task-completed {
  color: green;
}

.task-pending {
  color: red;
}
