<div class="container" role="main">
    <h3>Home</h3>

    <div class="row justify-content-center">
        <div class="col-md-2">
            <span class="material-icons icon-success" role="button" (click)="setCreatingTask()">post_add</span>
            <span class="material-icons icon-update" role="button" (click)="fetchTasks()">
      refresh
    </span>
        </div>

        <div class="col-md-4">
            Filter
            <select class="form-control" (change)="filterBy()" [(ngModel)]="tasksFilter">
                <option *ngFor="let taskType of taskTypesList">{{taskType}}</option>
            </select>
        </div>
    </div>

    <div *ngIf="this.newTask">
        <form (submit)="addEditTask()">
            <input *ngIf="this.newTask._id" type="hidden" name="editing-task" [(ngModel)]="this.newTask._id"/>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <label for="task-description">Description</label>
                    <textarea [(ngModel)]="newTask.description" class="form-control" id="task-description" type="text"
                              name="description" placeholder="Task Description"></textarea>
                </div>
            </div>
            <div class="row action-line justify-content-center">
                <div class="col-md-4 vertical-alignment">
                    <label for="task-status" role="button">
            <span [ngClass]="newTask.completed ? 'task-completed' : 'task-pending'">
                {{newTask.completed ? 'Finished' : 'Pending'}} &nbsp;
            </span>
                        <input [(ngModel)]="newTask.completed" id="task-status" type="checkbox" name="status"/>
                    </label>
                </div>
                <div class="col-md-4 buttons-container">
                    <input type="submit" value="{{this.newTask._id ? 'Confirm Task editition' : 'Confirm new Task'}}"
                           class="btn btn-success btn-sm"/>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div *ngIf="error !== ''" class="col-6 alert alert-danger" role="alert" (click)="error = ''">
            {{error}}
        </div>
    </div>

    <hr/>

    <div *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <ul class="list-group">

        <div class="row line-stripe-title">
            <div class="col-md-10">
                Description
            </div>
            <div class="col-md-2">
                Actions
            </div>
        </div>

        <div *ngFor="let task of filteredTasks; let i = index"
              [className]="'row ' + ((i % 2 === 0) ? 'line-stripe-a' : 'line-stripe-b')"
        >
            <div class="col-md-10">{{task.description}}
                <p><small>{{task._id}}</small></p>
                <span *ngIf="task.completed" class="material-icons">done</span>
                <span *ngIf="!task.completed" class="material-icons" role="button">assignment_late</span>
            </div>
            <div class="col-md-2 vertical-alignment-div">
                <span class="material-icons icon-danger" role="button" (click)="deleteTask(task)">delete</span>
                <span class="material-icons icon-edit" role="button" (click)="setEditingTask(task)">edit</span>
            </div>
        </div>
    </ul>

</div>

<router-outlet></router-outlet>
