.task-completed, .task-pending {
  font-weight: bold;
}

.action-line {
  margin-top: 5px;
  .buttons-container {
    text-align: right;
  }
}

.task-completed {
  color: green;
}

.task-pending {
  color: red;
}
