<div class="modal-header">
    <h4 class="modal-title">{{modal_title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="confirmation(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p> {{modal_content}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="confirmation(false)">Cancel</button>
    <button type="button" class="btn btn-success" (click)="confirmation(true)">Confirm</button>
</div>
