/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$app-color: #5bc0de;
$success-color: #5cb85c;
$update-color: #337ab7;
$main-color: #f0ad4e;
$danger-color: #d9534f;
$stripe-color-title: #b6f3ce;
$stripe-color-a: white;
$stripe-color-b: #f0f6fd;

.icon-success {
  color: $success-color;
}

.icon-update {
  color: #337ab7;
}

.icon-danger {
  color: $danger-color;
}

.icon-edit {
  color: $main-color;
}

.vertical-alignment {
  display: flex;
  align-items: flex-end;
}

.vertical-alignment-div {
  display: flex;
  align-items: center;
}

.line-stripe-title {
  background-color: $stripe-color-title;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}

.line-stripe-a, .line-stripe-b {
  padding: 10px 0;
}

.line-stripe-a {
  background-color: $stripe-color-a;
}

.line-stripe-b {
  background-color: $stripe-color-b;
}
